@model LMS_WebApplication.Period

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Period</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.P_Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volume_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volume_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Page_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Page_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shelf_Num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shelf_Num)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
