@model IEnumerable<LMS_WebApplication.Period>

@{
    ViewBag.Title = "Index";
}

<h2>Periodicals</h2>

<table class="table">
    <tr>
        <th>
            Category
        </th>
        <th>
            Name
        </th>
        <th>
            ISBN
        </th>
        <th>
            Volume Number
        </th>
        <th>
            Year
        </th>
        <th>
            Number of Pages
        </th>
        <th>
            Shelf Number
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.P_Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Volume_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Page_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shelf_Num)
        </td>     
    </tr>
}

</table>
